

body{
    background-color:black;
    font-family: 'Roboto Mono', monospace;
    /* width: 2000px; */
    /* height: 3000px; */
}

.mother {
    width: 100%;
    height: 100%;
}

.a:hover{
    color: 11px 7px 17px 0px rgba(255, 0, 0, 0.75);
    transition: .4s;
}

.head{
    display: flex;
    text-align: start;
    padding-top: 10px;
    margin-left: 10px;
    text-align: center;
    justify-content: center;
}

.info{
    display: flex;
    flex: 80% 20%;
}

.info-left{
    width: 75%;
    padding-left: 20px;
}

.skill-head{
    text-align: center;
}

.skill-head > h1{
    padding-bottom: 20px;
    padding-top: 20px;
}

.skill{
    display: flex;
    justify-content: center;
    text-align: center;
    grid-gap: 10px;
}

.discord{
    width: 50%;
    /* padding-left: 25px; */
    border: 1px solid;
    border-color: white;
    border-radius: 10px;
}

.html{
    width: 50%;
    border: 1px solid;
    border-color: white;
    border-radius: 10px;
}

.video{
    margin: 20px;
    margin-bottom: 30px;
}

.video > iframe {
    border: 1px solid;
    border-color: white;
}

.info-right{

}

.mypic{
    padding: 5px;
    padding-top: 23px;
}

.info-right > .mypic > img{
    border-radius: 10px;
    height: 355px;
    width: 245px;
    border: 1px solid;
    border-radius: 1px solid;
    border-color: white;
}

.footer{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.footer > .one{
    width: 33.33%;
    text-align: center;
}

.footer > .one > h1{
    color: grey;
}

.footer > .two {
    width: 33.33%;
}

.footer > .three {
    width: 33.33%;
}

h1{
    color:aliceblue;
    text-align:center;
    margin:0 auto;
    padding-left: 10px;
    padding-right: 20px;
}

h2{
    color:aliceblue;
    padding: 10px;
}

a{
    color:white;
    /* text-decoration: ; */
}

a:hover{
    color: red;
    transition: .4s;
}

iframe{
    width: 560px;
     height: 315px;
}

@media only screen and (max-width: 580px){
    .mother {
        width: 100%;
        height: 100%;
    }

    .info-left{
        width: 70%;
        
    }

    .info-right{
        width:50%;
        text-align: end;
    }

    .info-right > .mypic > img{
        border-radius: 10px;
        width: 200px;
        height: 250px;
        border: 1px solid;
        border-radius: 1px solid;
        border-color: white;
    }
    h2{
        font-size: 14px;
    }

    h1{
        font-size: 20px;}
        
    iframe{
        width: 520px;
        height: 315px;
    }
}