
body {
    font-family: 'Roboto Mono', monospace;
}

fieldset {
    border: 0;
    box-sizing: border-box;
    box-shadow: black;
    border-radius: 100px;
    text-align: center;
    margin: 100px;
}

fieldset span1 {
    color: red;
    font-size: 25px;
}

legend {
    color: rgb(0, 0, 0);
    padding: 50px 40px;
    font-size: 30px;
    border-radius: 200px;
    text-align: center;
}

input {
    margin: 10px;
}

.Register {
    border-radius: 20px;
}

.register {    
    border-radius: 10px;
    width: 150px;
    height: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
.register:hover {
    box-shadow: 11px 7px 17px 0px rgba(0,0,0,0.75);
}

.reset {
    margin-top: 20px;
    border-radius: 10px;
    border: 0;
    width: 150px;
    height: 30px;
    color: white;
    background-color: rgb(0, 0, 0);
}
.reset:hover {
    box-shadow: 11px 7px 17px 0px rgba(0,0,0,0.75);
}

.home {
    margin-top: 20px;
    border-radius: 10px;
    border: 0;
    width: 150px;
    height: 30px;
    color: white;
    background-color: rgb(0, 0, 0);
}
.home:hover {
    box-shadow: 11px 7px 17px 0px rgba(0,0,0,0.75);
}

.back {
    margin-top: 20px;
    border-radius: 10px;
    border: 0;
    width: 150px;
    height: 30px;
    color: white;
    background-color: rgb(0, 0, 0);
}
.back:hover {
    box-shadow: 11px 7px 17px 0px rgba(0,0,0,0.75);
}